:root {
    --primary-color: #56644c;
    --secondary-color: #fdd892;
    --tertiary-color: #29172b;
    --primary-background-color: #fae4bab7;
    --secondary-background-color: #f3e2c4b7;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
}

/* HEADER / NAV BAR STYLES START */

header {
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    background-image: url("../images/heroimg-option3.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

.welcome {
    width: 500px;
    margin: 5px;
    background-color: var(--tertiary-color);
    opacity: 75%;
    border-radius: 50px 50px 5px 5px;
    padding-top: 25px;
}

header h1 {
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin: 0;
    font-size: 36px;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    margin-top: 20px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: inline-block;
    position: relative;
    color: var(--primary-color);
}

header nav ul li a:after {
    content: '';
    position: absolute;
    width: 70%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 15%;
    background-color: var(--secondary-color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

header nav ul li a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

  /* HEADER / NAVBAR STYLES END */

   /* HERO / JUMBOTRON STYLES START */
.hero {
    height: 500px;
    width: 100%;
    background-image: url("../images/heroimg-option3.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
}

.hero img {
    height: 300px;
    width: 300px;
    border-radius: 1000px;
    margin: 100px 25px;
}

.hero h2 {
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    color: var(--secondary-color);
    font-weight: lighter;
    font-style: italic;
    font-size: 28px;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
/* HERO / JUMBOTRON STYLES END */

/* SECTION STYLES START */    
.flex-column {
    display: flex;
    margin: 0 30px;
    }

.section-title {
    font-size: 32px;
    border-right: 3px solid;
    color: var(--primary-color);
    padding-bottom: 20px;
    margin: 50px 50px 50px 10px;
    flex: 1 0 200px;
    justify-content: center;
}

.section-title .primary-border h2 {
    text-align: center;
}

.primary-border {
    border-color: var(--tertiary-color);
}

.content {
    flex: 0 1 1500px;
    margin: 70px 50px 70px 0;
    line-height: 1.5;
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
}

.content p {
    margin: 15px 0 15px 0;
}
/* SECTION STYLES END */ 

/* ABOUT ME STYLES START */
.bio {
    background-color: var(--primary-background-color);
}

/* ABOUT ME STYLES END */

/* WORK STYLES START */
.projects {
    background-color: var(--secondary-background-color);
}

.cards {
    justify-content: space-between;
}

.card1 {
    flex-wrap: wrap;
}

.card1 img {
    max-width: 100%;
}

.card2 {
    max-width: 50%;
}

.card2 img {
    max-width: 98%;
}

.card3 {
    max-width: 50%;
}

.card3 img {
    max-width: 100%;
    height: max-content;
}

/* WORK STYLES END */

/* CONTACT ME STYLES START */
.contact {
    background-color: var(--primary-background-color);
    display: flex;
    justify-content: space-between;

}

.contact a {
    text-decoration: none;
    color: var(--tertiary-color);
}

.contact .content {
    flex-direction: row;
}

.contact .content ul {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.contact .content ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    display: inline-block;
    position: relative;
    color: var(--tertiary-color);
}

.contact .content ul li a:after {
    content: '';
    position: absolute;
    width: 70%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 15%;
    background-color: var(--tertiary-color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.contact .content ul li a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;

}

/* CONTACT ME STYLES END */

/* RESUME STYLES START */
.cv {
    background-color: var(--secondary-background-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cv .content {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.cv .content a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    display: inline-block;
    position: relative;
    color: var(--tertiary-color);
    justify-content: center;
    text-decoration: none;
}

.cv .content a:after {
    content: '';
    position: absolute;
    width: 70%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 15%;
    background-color: var(--tertiary-color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.cv .content a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
/* RESUME STYLES END */

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
}

header h1 {
    width: 100%;
    text-align: center;
}

header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
}

header nav ul li a {
    font-size: 20px;
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
section {
    padding: 30px 15px;
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    
}